* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

::-webkit-scrollbar-track-piece {
    /* //滚动条凹槽的颜色，还可以设置边框属性 */
    background-color: #f8f8f8;
}

 ::-webkit-scrollbar {
    /* //滚动条的宽度 */
    width: 9px;
    height: 9px;
}

 ::-webkit-scrollbar-thumb {
    /* //滚动条的设置 */
    background-color: #dddddd;
    background-clip: padding-box;
    min-height: 28px;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: #e3fdfd;
    overflow: hidden;
}

.panel {
    background-color: #cbf1f5;
    margin: 100px auto;
    height: 70%;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    color: #11999e;
}

.title {
    height: 10%;
    border-bottom: 1px dotted #71c9ce;
    position: relative;
}

.title h2 {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content {
    /* background-color: lightblue; */
    height: 87%;
    padding: 5px 20px;
}

.content .operate {
    background-color: #a6e3e9;
    width: 400px;
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content .operate .button {
    width: 60%;
    height: 60px;
}

#download {
    width: 100%;
    height: 60px;
}

.content .monitor {
    background-color: lightblue;
    margin-left: 400px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.content .monitor .msg-title {
    display: inline-block;
    height: 30px;
    font-size: 20px;
    width: 100%;
}

#clearMsg {
    float: right;
    padding: 2px 10px;
    height: 27px;
}

.content .monitor .msg {
    height: 90%;
    padding: 5px 10px;
    overflow: hidden auto;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: 0 0 8px #71c9ce inset;
}

.content .monitor .msg li {
    list-style: none;
    padding: 10px 0;
    letter-spacing: .07em;
}

@media screen and (max-width: 1300px) {
     :root {
        --margin: 300px;
    }
    .content .operate {
        width: var(--margin);
    }
    .content .monitor {
        margin-left: var(--margin);
    }
}

@media screen and (max-width: 1100px) {
     :root {
        --margin: 250px;
    }
    .content .operate {
        width: var(--margin);
    }
    .content .monitor {
        margin-left: var(--margin);
    }
}

@media screen and (max-width: 950px) {
     :root {
        --margin: 200px;
    }
    .content .operate {
        width: var(--margin);
    }
    .content .operate .button {
        width: 80%;
    }
    .content .monitor {
        margin-left: var(--margin);
    }
}

@media screen and (max-width: 800px) {
    .content .operate {
        height: 100px;
        width: 100%;
        float: none;
    }
    .content .operate .button {
        width: 100%;
    }
    .content .monitor {
        margin-left: var(--margin);
        float: none;
        margin-left: 0;
        padding-top: 100px;
        margin-top: -95px;
    }
    .panel {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
    }
}

@media screen and (max-width: 520px) {
    .content .operate {
        height: 80px;
        width: 100%;
        float: none;
    }
    .content .operate .button {
        width: 100%;
    }
    .content .monitor {
        margin-left: var(--margin);
        float: none;
        margin-left: 0;
        padding-top: 80px;
        margin-top: -75px;
    }
    .title h2 {
        font-size: 16px;
    }
    .panel {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
    }
}

.wrap {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px auto;
    overflow: hidden;
}

.circle {
    height: 100%;
    box-sizing: border-box;
    border: 5px solid #71c9ce;
    border-radius: 50%;
}

.top,
.bottom {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    background: lightblue;
}

.top {
    top: 0;
    left: 0;
    z-index: 3;
    transform-origin: center right;
    animation: 2s back-half ease-in-out .6s infinite;
    /* animation-fill-mode: forwards; */
}

.bottom {
    z-index: 3;
    left: 50%;
    transform-origin: center left;
    animation: 2s front-half ease-in-out infinite;
    /* animation-fill-mode: forwards; */
}

.loading {
    height: 70px;
}

@keyframes front-half {
    0% {
        transform: rotate(0);
    }
    /* 50% {
        transform: rotate( 180deg);
    } */
    100% {
        transform: rotate(1turn);
        /* opacity: 0; */
    }
}

@keyframes back-half {
    0% {
        transform: rotate(0);
    }
    /* 99% {
        transform: rotate( 180deg);
        opacity: 1;
    } */
    100% {
        transform: rotate(1turn);
    }
}

#status {
    height: 12px;
    width: 12px;
    float: right;
    margin-right: 10px;
    margin-top: 8px;
    border-radius: 50%;
    background-color: grey;
}

#status.online {
    background-color: greenyellow;
}

#status.offline {
    background-color: red;
}